<% if @admin.errors.any? %>
	<h1>Se encontraron los siguientes errores al crear un nuevo administrador:</h1>
	<% @admin.errors.full_messages.each do |e| %>
	<li><%= e %></li>
	<% end %>
<% end %>
<%= form_for :admin, url: "/admin/#{@admin.id}", method: :put  do |f| %>
<p>
	<%= f.label :name%>
	<br>
	<%= f.text_field :name, value: @admin.name%>
</p>
<p>
	<%= f.label :email %>
	<br>
	<%= f.text_field :email, value: @admin.email %>
</p>
<p>
	<%= f.label :Contraseña %>
	<br>
	<%= f.password_field :password %>
</p>
	<%= f.submit(value: 'Actualizar') %>
<% end %>