<h1>Admins</h1>
<% unless @admins.blank? %>
	<% @admins.each do |f| %>
		<p>
			<h2>Id</h2>
			<br>
			<%= f.id %>
		</p>
		<p>
			<h2>Name</h2>
			<br>
			<%= f.name %>
		</p>
		<p>
			<h2>E-mail</h2>
			<br>
			<%= f.email %>
		</p>
		<% if session[:admin] == (f.id).to_i or session[:superuser] %>
			<%= link_to 'Edit', "admin/#{f.id}/edit" %>
			<%= link_to 'Delete', "admin/#{f.id}", method: 'delete', data:{confirm: 'Rlly m8?'} %>
		<% end %>
		<hr>
	<% end %>
<% else %>
	<h3>No hay nuevos Admins registrados por el momento, pero puedes registrarlos aquí: </h3>
	<% @admin = Admin.new%>
	<%= render template: 'admin/new' %>
<% end %>

	