<% if @genre.errors.any? %>
	<h1>Se encontraron los siguientes errores al registrar un nuevo género:</h1>
	<% @genre.errors.full_messages.each do |e| %>
	<li><%= e %></li>
	<% end %>
<% end %>
<%= form_for :genre, url: '/genre', method: 'POST' do |f| %>
	<h1>Nuevo Género</h1>
	<p>
		<%= f.label :name %>
		<br>
		<%= f.text_field :name %>
	</p>
	<p>	
		<%= f.label :Mode %>
		<br>
		<%= f.select :mode, options_for_select([['White-list', 'whitelist'],['Black-list', 'blacklist'],['Free-for-all', 'freeforall']]) %>
	</p>
	<p>
		<%= f.submit(value: 'Registrar nuevo género') %>
	</p>
<% end %>