<% content_for :for_head do %>
	<%= render :partial => 'headContent/materialize' %>
	<%= render :partial => 'headContent/index_style' %>
<% end %>
<%= render 'statics/blue_nav_bar' %>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-accent-2">¿Admin?</h1>
        <div class="row center">

          <h5 class="header col s12 light">Comienza acá</h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light blue darken-4">Login</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax">
    	<%= image_tag "electronica.jpg", :alt => "Facebook", :title => "Facebook"%>
    </div>
</div>

<div class="container">
    <div class="section">
    	<% unless session[:admin] or session[:superuser] %>
			<% if flash[:notice] %>
				<div class="notice"><%= flash[:notice] %></div>
			<% end %>
			<h1>Login</h1>
			<%= form_for :login, url: '/login', class: 'col s12', method: 'POST' do |f| %>
			<div class= "row">
				<div class="input-field col s12">
					<input name='login[user]' type='hidden' value='superuser'>
				</div>
			</div>
			<div class="row">	
				<div class="input-field col s12">
					<p>
						<%= f.label 'E-mail' %>
						<br>
						<%= f.text_field :email, type:'email',  class:'validate', id:'email'%>
					</p>
				</div>
			</div>
			<div class="row">	
				<div class="input-field col s12">
					<p>
						<%= f.label :Password %>
						<br>
						<%= f.text_field :password, type: 'password', class:'validate', id:'password' %>
					</p>
				</div>
			</div>	
			<div class="row center">
				<button class="btn waves-effect indigo-light" type="submit" name="action">Enviar
				    <i class="mdi-content-send right"></i>
				 </button>
			</div>	
		<% end %> 
	<% end %>
    </div>
</div>
<%= render 'statics/page_footer' %>
